<div class="center-form">
    <h2>Pengajuan Asuransi</h2>
    <form nz-form [formGroup]="insuranceForm" (ngSubmit)="submitForm()" class="custom-form">
        
        <nz-form-item>
            <nz-form-control 
              [nzErrorTip]="
                insuranceForm.controls['idKontrak'].hasError('required')
                  ? 'Please input contract number'
                  : ''">
              <nz-input-group nzPrefixIcon="idcard">
                <input type="text" nz-input formControlName="idKontrak" placeholder="Enter contract number" />
              </nz-input-group>
            </nz-form-control>
            <button (click)="getNoContract()" [disabled]="insuranceForm.get('idKontrak')?.invalid">Search</button>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control>
              <nz-input-group nzPrefixIcon="idcard">
                <input type="text" nz-input formControlName="noKtp" [disabled]="true" placeholder="KTP number will be filled automatically"/>
              </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        
        <nz-form-item>
            <nz-form-control>
              <nz-input-group nzPrefixIcon="user"> <!-- Nama Customer: menggunakan icon User -->
                <input type="text" nz-input formControlName="namaCustomer" [disabled]="true" placeholder="Customer name will be filled automatically"/>
              </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        
        <nz-form-item>
            <nz-form-control>
              <nz-input-group nzPrefixIcon="phone"> <!-- No Telepon: menggunakan icon Phone -->
                <input type="text" nz-input formControlName="noTelepon" [disabled]="true" placeholder="Phone number will be filled automatically"/>
              </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        
        <nz-form-item>
            <nz-form-control>
              <nz-input-group nzPrefixIcon="mail"> <!-- Email: menggunakan icon Mail -->
                <input type="text" nz-input formControlName="email" [disabled]="true" placeholder="Email will be filled automatically"/>
              </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        
        <nz-form-item>
            <nz-form-control>
              <nz-input-group nzPrefixIcon="home"> <!-- Alamat: menggunakan icon Home -->
                <input type="text" nz-input formControlName="alamat" [disabled]="true" placeholder="Address will be filled automatically"/>
              </nz-input-group>
            </nz-form-control>
        </nz-form-item>        

        <nz-form-item>
          <nz-form-control 
            [nzErrorTip]="
              insuranceForm.controls['noPolis'].hasError('required')
                ? 'Please input no polis number'
                : ''">
            <nz-input-group nzPrefixIcon="credit-card">
              <input type="text" nz-input formControlName="noPolis" placeholder="Enter no polis number" />
            </nz-input-group>
          </nz-form-control>
      </nz-form-item>

        <nz-form-item>
            <nz-form-control 
              [nzErrorTip]="
                insuranceForm.controls['produkAsuransi'].hasError('required')
                  ? 'Please select insurance product'
                  : ''">
              <nz-select formControlName="produkAsuransi" nzPlaceHolder="Select insurance product">
                <nz-option nzValue="asuransiKendaraan" nzLabel="Asuransi Kendaraan"></nz-option>
                <nz-option nzValue="creditProtection" nzLabel="Asuransi Credit Protection"></nz-option>
                <nz-option nzValue="carProtection" nzLabel="Asuransi Car Protection"></nz-option>
                <nz-option nzValue="personalAccident" nzLabel="Asuransi Personal Accident"></nz-option>
              </nz-select>
            </nz-form-control>
        </nz-form-item>        

        <!-- <nz-form-item>
            <nz-form-control 
              [nzErrorTip]="
                insuranceForm.controls['tanggalPengajuan'].hasError('required')
                  ? 'Please select submission date'
                  : ''">
              <nz-date-picker formControlName="tanggalPengajuan" nzPlaceHolder="Select submission date"></nz-date-picker>
            </nz-form-control>
        </nz-form-item> -->

        <nz-form-item>
          <nz-form-control [nzErrorTip]="insuranceForm.controls['ktp'].hasError('required') ? 'Please upload KTP' : ''">
              <label>Upload KTP</label>
              <input type="file" id="ktp-upload" nz-input (change)="onFileChange($event, 'ktp')" />
              
              <!-- <div style="margin-top: 10px;">
                  <label>Note Dokumen</label>
                  <textarea rows="3" nz-input formControlName="ktpNote"></textarea>
              </div> -->
              <a *ngIf="listDocs.includes(1)" href="http://localhost:8080/api/download/{{ idCustomer }}/1">Download Dokumen</a>
          </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
          <nz-form-control [nzErrorTip]="insuranceForm.controls['kk'].hasError('required') ? 'Please upload KK' : ''">
              <label>Upload KK</label>
              <input type="file" id="kk-upload" nz-input (change)="onFileChange($event, 'kk')" />
              
              <!-- <div style="margin-top: 10px;">
                  <label>Note Dokumen</label>
                  <textarea rows="3" nz-input formControlName="kkNote"></textarea>
              </div> -->
              <a *ngIf="listDocs.includes(2)" href="http://localhost:8080/api/download/{{ idCustomer }}/2">Download Dokumen</a>
          </nz-form-control>
      </nz-form-item>
      
      <ng-container *ngIf="isVehicleInsurance">
          <nz-form-item>
              <nz-form-control [nzErrorTip]="insuranceForm.controls['stnk'].hasError('required') ? 'Please upload STNK' : ''">
                  <label>Upload STNK</label>
                  <input type="file" id="stnk-upload" nz-input (change)="onFileChange($event, 'stnk')" />
                  
                  <!-- <div style="margin-top: 10px;">
                      <label>Note Dokumen</label>
                      <textarea rows="3" nz-input formControlName="stnkNote"></textarea>
                  </div> -->
                  <a *ngIf="listDocs.includes(3)" href="http://localhost:8080/api/download/{{ idCustomer }}/3">Download Dokumen</a>
              </nz-form-control>
          </nz-form-item>
      
          <nz-form-item>
              <nz-form-control [nzErrorTip]="insuranceForm.controls['bpkb'].hasError('required') ? 'Please upload BPKB' : ''">
                  <label>Upload BPKB</label>
                  <input type="file" id="bpkb-upload" nz-input (change)="onFileChange($event, 'bpkb')" />
                  
                  <!-- <div style="margin-top: 10px;">
                      <label>Note Dokumen</label>
                      <textarea rows="3" nz-input formControlName="bpkbNote"></textarea>
                  </div> -->
                  <a *ngIf="listDocs.includes(4)" href="http://localhost:8080/api/download/{{ idCustomer }}/4">Download Dokumen</a>
              </nz-form-control>
          </nz-form-item>
      </ng-container>
      
      <ng-container *ngIf="isOtherInsurance">
        <nz-form-item>
          <nz-form-control [nzErrorTip]="insuranceForm.controls['stnk'].hasError('required') ? 'Please upload STNK' : ''">
              <label>Upload STNK</label>
              <input type="file" id="stnk-upload" nz-input (change)="onFileChange($event, 'stnk')" />
              
              <!-- <div style="margin-top: 10px;">
                  <label>Note Dokumen</label>
                  <textarea rows="3" nz-input formControlName="stnkNote"></textarea>
              </div> -->
              <a *ngIf="listDocs.includes(3)" href="http://localhost:8080/api/download/{{ idCustomer }}/3">Download Dokumen</a>
          </nz-form-control>
      </nz-form-item>
  
      <nz-form-item>
          <nz-form-control [nzErrorTip]="insuranceForm.controls['bpkb'].hasError('required') ? 'Please upload BPKB' : ''">
              <label>Upload BPKB</label>
              <input type="file" id="bpkb-upload" nz-input (change)="onFileChange($event, 'bpkb')" />
              
              <!-- <div style="margin-top: 10px;">
                  <label>Note Dokumen</label>
                  <textarea rows="3" nz-input formControlName="bpkbNote"></textarea>
              </div> -->
              <a *ngIf="listDocs.includes(4)" href="http://localhost:8080/api/download/{{ idCustomer }}/4">Download Dokumen</a>
          </nz-form-control>
      </nz-form-item>

          <nz-form-item>
              <nz-form-control [nzErrorTip]="insuranceForm.controls['suratDokter'].hasError('required') ? 'Please upload Surat Dokter' : ''">
                  <label>Upload Surat Dokter</label>
                  <input type="file" id="suratDokter-upload" nz-input (change)="onFileChange($event, 'suratDokter')" />
                  
                  <!-- <div style="margin-top: 10px;">
                      <label>Note Dokumen</label>
                      <textarea rows="3" nz-input formControlName="suratDokterNote"></textarea>
                  </div> -->
                  <a *ngIf="listDocs.includes(5)" href="http://localhost:8080/api/download/{{ idCustomer }}/5">Download Dokumen</a>
              </nz-form-control>
          </nz-form-item>
      
          <nz-form-item>
              <nz-form-control [nzErrorTip]="insuranceForm.controls['suratKematian'].hasError('required') ? 'Please upload Surat Kematian' : ''">
                  <label>Upload Surat Kematian</label>
                  <input type="file" id="suratKematian-upload" nz-input (change)="onFileChange($event, 'suratKematian')" />
                  
                  <!-- <div style="margin-top: 10px;">
                      <label>Note Dokumen</label>
                      <textarea rows="3" nz-input formControlName="suratKematianNote"></textarea>
                  </div> -->
                  <a *ngIf="listDocs.includes(6)" href="http://localhost:8080/api/download/{{ idCustomer }}/6">Download Dokumen</a>
              </nz-form-control>
          </nz-form-item>
      
          <nz-form-item>
              <nz-form-control [nzErrorTip]="insuranceForm.controls['suratWasiat'].hasError('required') ? 'Please upload Surat Wasiat' : ''">
                  <label>Upload Surat Wasiat</label>
                  <input type="file" id="suratWasiat-upload" nz-input (change)="onFileChange($event, 'suratWasiat')" />
                  
                  <!-- <div style="margin-top: 10px;">
                      <label>Note Dokumen</label>
                      <textarea rows="3" nz-input formControlName="suratWasiatNote"></textarea>
                  </div> -->
                  <a *ngIf="listDocs.includes(7)" href="http://localhost:8080/api/download/{{ idCustomer }}/7">Download Dokumen</a>
              </nz-form-control>
          </nz-form-item>
      </ng-container>

      <nz-form-item>
        <nz-form-control>
            <label>Deskripsi</label>
            <textarea nz-input formControlName="description" placeholder="Isi Deskripsi" rows="5" style="width: 100%;"></textarea>
        </nz-form-control>
      </nz-form-item>
      
      
      <button nz-button nzType="primary" nzBlock class="w-100">
          Submit
      </button>
      
    </form>
</div>
