/* Styling for logo */
.logo-bcaf {
    height: 48px;
    margin-top: 15px;
    margin-bottom: 16px
}

/* Header styling */
nz-header {
    background: #fff;
    padding: 0;
}

/* Content area styling */
nz-content {
    margin: 0 16px;
}

/* Breadcrumb styling */
nz-breadcrumb {
    margin: 16px 0;
}

/* Inner content styling */
.inner-content {
    padding: 24px;
    background: #FFF;
    min-height: 360px;
}

/* Footer styling */
nz-footer {
    text-align: center;
}
