<nz-layout style="min-height: 100vh;">
  <!-- Sider untuk Admin -->
  <nz-sider nzCollapsible nzWidth="200px" *ngIf="isAdminLoggedIn">
    <div class="logo">
      <a href="https://bcafinance.co.id/" target="_blank"><img class="logo-bcaf" src="../assets/bca-finance.png" alt="" ></a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/dashboard">
        <span nz-icon nzType="apartment"></span>
        <span><strong>List Klaim</strong></span>
      </li>
      <li nz-menu-item routerLink="/history-pengajuan">
        <span nz-icon nzType="apartment"></span>
        <span><strong>History Pengajuan</strong></span>
      </li>
      <li nz-menu-item routerLink="/register">
        <span nz-icon nzType="user"></span>
        <span><strong>Register</strong></span>
      </li>
      <li nz-menu-item (click)="logout()">
        <span nz-icon nzType="logout"></span>
        <span><strong>Logout</strong></span>
      </li>
    </ul>
  </nz-sider>

  <!-- Sider untuk Customer -->
  <!-- <nz-sider nzCollapsible nzWidth="200px" *ngIf="isCustomerLoggedIn"> -->
  <nz-sider nzCollapsible nzWidth="200px" *ngIf="isCustomerLoggedIn">
    <div class="logo">
      <a href="https://bcafinance.co.id/" target="_blank"><img class="logo-bcaf" src="../assets/bca-finance.png" alt="" ></a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/dashboard">
        <span nz-icon nzType="apartment"></span>
        <span><strong>List Klaim</strong></span>
      </li>
      <li nz-menu-item (click)="logout()">
        <span nz-icon nzType="logout"></span>
        <span><strong>Logout</strong></span>
      </li>
    </ul>
  </nz-sider>

  <!-- Main Content Area -->
  <nz-layout>
    <nz-content style="padding: 24px; background: #fff;">
      <router-outlet></router-outlet>
    </nz-content>
    <!-- Optional Footer -->
  </nz-layout>
</nz-layout>
