.container {
    max-width: 1200px;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .search-container {
    position: relative;
  }
  
  input[type="text"] {
    padding: 8px 30px 8px 10px;
    width: 200px;
  }
  
  .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .eye-icon {
    cursor: pointer;
  }

.center-form{
  display: flex;
  height: 50vh;
  width: 100%;
}

.progress-bar-container {
  width: 100%;
  height: 10px;
  background-color: #c6c2c2;
  border-radius: 5px;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50; /* Warna progress */
  border-radius: 5px;
}

.status-text {
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
}

.progress-bar-rejected {
  background-color: #f44336; /* Warna merah */
} 